In [2]:
import pandas as pd

import sqldf

In [3]:
## read dataset
e_learning_df = pd.read_excel('../1_Data/Test_Learning_Data.xlsx')

In [4]:
e_learning_df.head()

,USER ID,USER STATUS,CONTENT TITLE,ASSET TYPE,LANGUAGE CODE,COMPLETION STATUS,START DATE,COMPLETED DATE,BADGE EARNED DATE,DURATION IN SECONDS,TOTAL ACCESSES,HIGH SCORE,ASSESSMENT ATTEMPTS,GENDER,EMPLOYMENT TYPE,STAFF BAND LEVEL,COUNTRY,FUNCTION,DEPARTMENT,LICENSE TYPE
0,USER001,Active,"Six Sigma: Team Basics, Roles, and Responsibil...",Course,English (US),Completed,2021-04-01,2021-04-01,2021-04-01,2836.0,15.0,85.0,3.0,F,Contract,Contract,Nigeria,Information Technology,IT,Advance
1,USER001,Active,Agile Principles and Methodologies,Course,English (US),Completed,2021-04-01,2021-04-01,2021-04-01,2628.0,12.0,92.0,2.0,F,Contract,Contract,Nigeria,Information Technology,IT,Advance
2,USER001,Active,Ethics and Project Management,Course,English (US),Completed,2021-04-01,2021-04-01,2021-04-01,2597.0,10.0,85.0,1.0,F,Contract,Contract,Nigeria,Information Technology,IT,Advance
3,USER001,Active,Overcoming Unconscious Bias in the Workplace,Course,English (US),Completed,2021-04-01,2021-04-01,2021-04-01,1611.0,8.0,87.0,1.0,F,Contract,Contract,Nigeria,Information Technology,IT,Advance
4,USER001,Active,Forming New Habits,Course,English (US),Completed,2021-04-01,2021-04-01,2021-04-01,1004.0,7.0,NaN,NaN,F,Contract,Contract,Nigeria,Information Technology,IT,Advance

In [5]:
e_learning_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10484 entries, 0 to 10483
Data columns (total 20 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   USER ID              10484 non-null  object
 1   USER STATUS          10484 non-null  object
 2   CONTENT TITLE        10484 non-null  object
 3   ASSET TYPE           10484 non-null  object
 4   LANGUAGE CODE        10484 non-null  object
 5   COMPLETION STATUS    10484 non-null  object
 6   START DATE           10484 non-null  datetime64[ns]
 7   COMPLETED DATE       6987 non-null   datetime64[ns]
 8   BADGE EARNED DATE    5462 non-null   datetime64[ns]
 9   DURATION IN SECONDS  10479 non-null  float64
 10  TOTAL ACCESSES       10428 non-null  float64
 11  HIGH SCORE           5529 non-null   float64
 12  ASSESSMENT ATTEMPTS  5139 non-null   float64
 13  GENDER               10254 non-null  object
 14  EMPLOYMENT TYPE      10484 non-null  object
 15  STAFF BAND LEVEL     10179 non-null  object
 16  COUNTRY              10484 non-null  object
 17  FUNCTION             10282 non-null  object
 18  DEPARTMENT           10391 non-null  object
 19  LICENSE TYPE         10484 non-null  object
dtypes: datetime64[ns](3), float64(4), object(13)
memory usage: 1.6+ MB

In [6]:
e_learning_df['LANGUAGE CODE'].value_counts()

English (US)    8602
French          1867
en-GB             15
Name: LANGUAGE CODE, dtype: int64

In [7]:
e_learning_df.isnull().sum()

USER ID                   0
USER STATUS               0
CONTENT TITLE             0
ASSET TYPE                0
LANGUAGE CODE             0
COMPLETION STATUS         0
START DATE                0
COMPLETED DATE         3497
BADGE EARNED DATE      5022
DURATION IN SECONDS       5
TOTAL ACCESSES           56
HIGH SCORE             4955
ASSESSMENT ATTEMPTS    5345
GENDER                  230
EMPLOYMENT TYPE           0
STAFF BAND LEVEL        305
COUNTRY                   0
FUNCTION                202
DEPARTMENT               93
LICENSE TYPE              0
dtype: int64

In [8]:
e_learning_df['DEPARTMENT'].isnull().sum()

93

In [9]:
e_learning_df[e_learning_df['GENDER'].isnull()].head()

,USER ID,USER STATUS,CONTENT TITLE,ASSET TYPE,LANGUAGE CODE,COMPLETION STATUS,START DATE,COMPLETED DATE,BADGE EARNED DATE,DURATION IN SECONDS,TOTAL ACCESSES,HIGH SCORE,ASSESSMENT ATTEMPTS,GENDER,EMPLOYMENT TYPE,STAFF BAND LEVEL,COUNTRY,FUNCTION,DEPARTMENT,LICENSE TYPE
54,USER001011,Active,Embracing an Agile Culture for Business Growth,Course,English (US),Started,2021-07-29,NaT,NaT,1530.0,7.0,NaN,NaN,NaN,Permanent,NaN,Kenya,Sales and Distribution,Sales,Advance
106,USER001023,Active,Embracing an Agile Culture for Business Growth,Course,English (US),Started,2021-08-30,NaT,NaT,1530.0,1.0,NaN,NaN,NaN,Permanent,NaN,Nigeria,Human Resources,NaN,Advance
107,USER001023,Active,Expert Insights on Organizational Culture,Course,English (US),Completed,2021-08-27,2021-08-30,2021-08-30,3891.0,28.0,NaN,NaN,NaN,Permanent,NaN,Nigeria,Human Resources,NaN,Advance
108,USER001023,Active,Anti-Money Laundering: An Overview,Linked Content,English (US),Started,2021-08-27,NaT,NaT,1800.0,1.0,NaN,NaN,NaN,Permanent,NaN,Nigeria,Human Resources,NaN,Advance
368,USER001076,Active,Enabling Business Process Improvement,Course,English (US),Started,2021-09-04,NaT,NaT,1147.0,1.0,NaN,NaN,NaN,Permanent,NaN,Kenya,Sales and Distribution,HBB,Advance

In [10]:
distinct_user = '''select distinct "USER ID" as registered_students from e_learning_df'''
distinct_user_df = sqldf.run(distinct_user)

distinct_user_df.count()

registered_students    1877
dtype: int64

In [11]:
e_learning_df[~e_learning_df['USER ID'].duplicated()].shape

(1877, 20)

In [12]:
employment_type_query = '''
    select distinct "USER ID" as users, "EMPLOYMENT TYPE" as emp_type from e_learning_df
'''

In [13]:
sqldf.run(employment_type_query)['emp_type'].value_counts()

Permanent    1751
Contract      126
Name: emp_type, dtype: int64

## Data Cleaning Observations

### Column names are in uppercase. Convert to lowercase

### start date, completed date, badge earned date,	 total accesses, assessment attempts, license type, asset type will be dropped. They are irrelevant to our analysis

### high score and duration has some missing values. Fill in missings values with zero (0)

### standardize language code values

### gender column with no values should be replaced with not_specified

### function, department, staff band level with  missing values should be replaced with not_specified

## Cleaning Dataset

In [14]:
e_learning_df_clean = e_learning_df.copy()

### Column names are in uppercase. Convert to lowercase

## Define

### Transform column names to lowercase

## code

In [15]:
e_learning_df_clean.columns

Index(['USER ID', 'USER STATUS', 'CONTENT TITLE', 'ASSET TYPE',
       'LANGUAGE CODE', 'COMPLETION STATUS', 'START DATE', 'COMPLETED DATE',
       'BADGE EARNED DATE', 'DURATION IN SECONDS', 'TOTAL ACCESSES',
       'HIGH SCORE', 'ASSESSMENT ATTEMPTS', 'GENDER', 'EMPLOYMENT TYPE',
       'STAFF BAND LEVEL', 'COUNTRY', 'FUNCTION', 'DEPARTMENT',
       'LICENSE TYPE'],
      dtype='object')

In [16]:
e_learning_df_clean.columns = e_learning_df_clean.columns.str.lower()

### Test

In [17]:
e_learning_df_clean.columns

Index(['user id', 'user status', 'content title', 'asset type',
       'language code', 'completion status', 'start date', 'completed date',
       'badge earned date', 'duration in seconds', 'total accesses',
       'high score', 'assessment attempts', 'gender', 'employment type',
       'staff band level', 'country', 'function', 'department',
       'license type'],
      dtype='object')

### Space in column name should be removed

### Define

### Replace space in column names with underscore

### Code

In [18]:
e_learning_df_clean.columns = e_learning_df_clean.columns.str.replace(' ', '_')

### Test

In [19]:
e_learning_df_clean.columns

Index(['user_id', 'user_status', 'content_title', 'asset_type',
       'language_code', 'completion_status', 'start_date', 'completed_date',
       'badge_earned_date', 'duration_in_seconds', 'total_accesses',
       'high_score', 'assessment_attempts', 'gender', 'employment_type',
       'staff_band_level', 'country', 'function', 'department',
       'license_type'],
      dtype='object')

### start date, completed date, badge earned date,	 total accesses, assessment attempts, license type, asset type will be dropped. They are not relevant to our analysis

### Define

### Drop columns not used for analysis using pandas drop() method

### Code

In [20]:
len(e_learning_df_clean.columns)

20

In [21]:
e_learning_df_clean.drop(['asset_type', 'start_date', 'completed_date',
       'badge_earned_date', 'total_accesses','duration_in_seconds','license_type','asset_type','assessment_attempts'], axis=1, inplace=True)

### Test

In [22]:
len(e_learning_df_clean.columns)

12

In [23]:
e_learning_df_clean.columns

Index(['user_id', 'user_status', 'content_title', 'language_code',
       'completion_status', 'high_score', 'gender', 'employment_type',
       'staff_band_level', 'country', 'function', 'department'],
      dtype='object')

### high score has some missing values. Fill in missings values with zero (0)

### Define

### fill in missing values using the fillna() method

### Code

In [24]:
e_learning_df_clean['high_score'].isnull().sum()

4955

In [25]:
e_learning_df_clean['high_score'].fillna(0, inplace=True)

## Test

In [26]:
e_learning_df_clean['high_score'].isnull().sum()

0

### standardize language code values

### Define

### language code should be consistent in its values

### Code

In [27]:
e_learning_df_clean.language_code.value_counts()

English (US)    8602
French          1867
en-GB             15
Name: language_code, dtype: int64

In [28]:
e_learning_df_clean.language_code = e_learning_df_clean.language_code.map({
                                                                    'English (US)':'English',
                                                                    'en-GB':'English',
                                                                    'French':'French'
                                                                        })

### Test

In [29]:
e_learning_df_clean.language_code.value_counts()

English    8617
French     1867
Name: language_code, dtype: int64

In [30]:
e_learning_df_clean.country = e_learning_df_clean.country.replace('Kenya HQ', 'Kenya')

In [31]:
e_learning_df_clean.country.value_counts()

Nigeria       2643
Kenya         1190
Uganda        1176
Congo B        956
Gabon          807
Zambia         739
DRC            644
Tanzania       572
India          398
Malawi         349
Niger          269
Rwanda         258
Madagascar     190
Seychelles     164
Chad           125
UK               4
Name: country, dtype: int64

### gender column with no values should be replaced with not_specified

### Define

### Use fillna() method to replace missing values

### Code

In [32]:
e_learning_df_clean.gender.fillna('not_specified', inplace=True)

### Test

In [33]:
e_learning_df_clean.gender.value_counts()

M                6815
F                3439
not_specified     230
Name: gender, dtype: int64

### function, department, staff band level with  missing values should be replaced with not_specified

### Define

### Use fillna() method to replace missing values

In [34]:
e_learning_df_clean[['department', 'function', 'staff_band_level']].isnull().sum()

department           93
function            202
staff_band_level    305
dtype: int64

### Code

In [35]:
e_learning_df_clean[['department', 'function', 'staff_band_level']] = e_learning_df_clean[
    ['department', 'function', 'staff_band_level']].fillna('not_specified')

### Test

In [36]:
e_learning_df_clean[['department', 'function', 'staff_band_level']].isnull().sum()

department          0
function            0
staff_band_level    0
dtype: int64

In [37]:
e_learning_df_clean.to_csv('../3_Analysis/e_learning_data.csv', index=False)